body {
    background-color: #191919;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#search-box {
    background-color: #3c3c3c;
    border-radius: 10px;
    border-color: #00fbff96;
    border-style: solid;
    position: absolute;
    width: 30%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 5px;
}

#search-box:focus {
    outline: none;
}

#search-box-container {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}

#search-suggestion-list {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    display: none;
    max-height: 150px;
    /* Set a maximum height for the suggestions list */
    overflow-y: auto;
}

#search-suggestions-list>li {
    padding: 5px;
    list-style: none;
    color: #fff;
}

.search-box-font-styles {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: small;
    font-style: italic;
}

.flex-container {
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.menu-nav-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(180deg, #00fbff, #00ff6a);
}

.menu-nav-bar ul {
    list-style-type: none;
    height: inherit;
    width: inherit;
    padding: 0px;
    margin: 0px;
}

.menu-item {
    color: #fff;
    padding: 5px;
    margin: 2px;
    border-color: #fff;
    border-radius: 5px;
    border-width: 1px;
    transition: 0.2s;
}

.menu-item:hover {
    background-color: #fff;
    color: #191919;
    transform: scale(1.2);
}

.base-container {
    background-color: #242424;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}